source ~/.vimrc

let mapleader = " "

" Close current tab
nnoremap <leader>bd :action CloseContent<CR>
" Close all tabs to the right
nnoremap <leader>br :action CloseAllToTheRight<CR>
" Close all tabs to the left
nnoremap <leader>bl :action CloseAllToTheLeft<CR>

" Execute last executed command
nnoremap <leader>cec :action Run<CR>

" Execute at current line
nnoremap <leader>cel :action RunClass<CR>

" Go to next error
noremap ]e :action GotoNextError<CR>
" Go to previous error
noremap [e :action GotoPreviousError<CR>

" Comment line
nnoremap gcc :action CommentByLineComment<CR>

" Comment selected lines
vnoremap gc :action CommentByLineComment<CR>

